<div>
    <h1>My Bookstore</h1>
    <form>
        <table>
            <tr>
                <td>
                    <button type="button" (click)="process('A')">A</button>
                </td>
                <td><button type="button" (click)="process('B')" >B</button></td>
                <td><button type="button" (click)="process('C')" >C</button></td>
                <td><button type="button" (click)="process('D')" >D</button></td>
                <td><button type="button" (click)="process('E')">E</button></td>
            </tr>
            <tr>
                <td>
                    <button type="button" (click)="process('F')">F</button>
                </td>
                <td><button type="button" (click)="process('G')" >G</button></td>
                <td><button type="button" (click)="process('H')" >H</button></td>
                <td><button type="button" (click)="process('I')">I</button></td>
                <td><button type="button" (click)="process('J')" >J</button></td>
            </tr>
            <tr>
                <td>
                    <button type="button" (click)="process('K')">K</button>
                </td>
                <td><button type="button" (click)="process('L')" >L</button></td>
                <td><button type="button" (click)="process('M')">M</button></td>
                <td><button type="button" (click)="process('N')" >N</button></td>
                <td><button type="button" (click)="process('O')" >O</button></td>
            </tr>
            <tr>
                <td>
                    <button type="button" (click)="process('P')" >P</button>
                </td>
                <td><button type="button" (click)="process('Q')" >Q</button></td>
                <td><button type="button" (click)="process('R')">R</button></td>
                <td><button type="button" (click)="process('S')">S</button></td>
                <td><button type="button" (click)="process('T')" >T</button></td>
            </tr>
            <tr>
                <td>
                    <button type="button" (click)="process('U')" >U</button>
                </td>
                <td><button type="button" (click)="process('V')" >V</button></td>
                <td><button type="button" (click)="process('W')" >W</button></td>
                <td><button type="button" (click)="process('X')" >X</button></td>
                <td><button type="button" (click)="process('Y')" >Y</button></td>
            </tr>
            <tr>
                <td>
                    <button type="button" (click)="process('Z')" >Z</button> 
                </td>
            </tr>
            <tr>
                <td>
                    <button type="button" (click)="process('0')" >0</button>
                </td>
                <td><button type="button" (click)="process('1')" >1</button></td>
                <td><button type="button" (click)="process('2')">2</button></td>
                <td><button type="button" (click)="process('3')">3</button></td>
                <td><button type="button" (click)="process('4')" >4</button></td>
            </tr>
            <tr>
                <td>
                    <button type="button" (click)="process('5')" >5</button>
                </td>
                <td><button type="button" (click)="process('6')" >6</button></td>
                <td><button type="button" (click)="process('7')" >7</button></td>
                <td><button type="button" (click)="process('8')" >8</button></td>
                <td><button type="button" (click)="process('9')" >9</button></td>
            </tr>
        </table>
    </form>
</div>
